<div id="header" class="container-fluid">
    <div class="col-12">
        <ul class="nav navbar-light ">
            <li class="nav-item">
                <a class="navbar-brand" href="#">Le Meilleur coin</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="{{ path ('home') }}"> Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('nouvelle_annonce') }}">Déposer une annonce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('recherche') }}">Rechercher une annonce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('user_inscription') }}">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('login') }}">S'identifier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('lister_mes_annonces') }}">Mes annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('mes_favoris')}}">Mes Favoris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('logout')}}">Logout</a>
            </li>
        </ul>
    </div>
</div>

